*{
    font-family: 'Roboto', sans-serif;
}
.body{
    background-color: aqua;
}

section{
    padding-top: 4rem ;
    padding-bottom: 4rem;
    
}
input, textarea{
    margin-bottom: rem;
}
.sobre{
    font-size: 40px;
}
.card{
    width: 32%;
    float: left;
    margin: 5px;
}
#logo{
    width: 130px;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.nav-item{
    margin-top: 20px;
    
}
.nav-link{
    color: white;
    background-color: darkgray;
    border-radius: 10px;
    margin-left:10px ;
    margin-top: 15px;
    font-weight: 600;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.651) ;
}
.nav-link:hover{
    color: black;
}
#destaque{
    border-radius: 5px;
}
.mercadoria{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    background-color:  rgb(116, 4, 4);
    color: white;
    border-radius: 30px;
    width: 50%;
    margin:20px auto -10px;
    
}
.img-fv{
    border-radius: 5px;
    margin-right: 8px;
  }
#contato{
    background-color: rgba(0, 0, 0, 0.801);
    
}
.tx-conta, .p-conta{
    color: white;
    font-weight: bold;
}
.ratio{
    display: flex;
    justify-content: center;
}
.video{
    width: 100%;
    background-color: rgb(116, 4, 4);
    height: auto;
   
}
.video>.col-md-7{
    margin: auto;
   padding: 20px 0;
   
}
.row>.h2{
    background-color: #740404;
    border-radius: 5px;
    width: 50%;
    margin:20px auto;
    padding: 5px 0;
    color: white;
    text-align: center;
}
.col-md-8>p{
    margin:0 auto;
    text-align: center;
    color: red;
    background-color: blue;
}

.temperos{
   margin: auto;

}
.temperos>p{
    text-align: justify;
}
.text-tempero{
    color: black;
    font-size: 23px;
    font-weight: 600;
}
.text-white{
    text-decoration: none;
}
.d-block{
    height: 400px;
    object-fit: scale-down;
}
textarea.form-control{
    width: 100% !important;
}
#cadastre{
    margin-top: 10px;
}
.input-group{
    margin-bottom: 7px   ;
}
.home-a > button{
    border-radius: 5px;
    font-weight: bold;
    margin-left: 15px;
    
}
.home-a > button:hover{
    background-color: #212529;
    color: white;
    border: solid 3px #740404;
    
}
.home-a, button >a{
    text-decoration: none;
    color: black;
}
.home-a, button >a:hover{
    color: white;
}
.container-1{
    display: flex;
    justify-content: center;

}




@media(max-width:991px){
    .card {
        width: 31%;
        float: left;
        margin: 7px;
    }
    .mercadoria{
        width: auto;
        font-size: 40px;
    }
    .video{
        height: auto;
        background-color: rgb(116, 4, 4);
    }
    .row>.h2{
        width: 80%;
    }
    

}
@media(max-width:768px){
    .card {
        width: 30%;
        float: left;
        margin: 8px;
    }
    .mercadoria{
        width: auto;
        font-size: 50px;
    }
    .video{
        height: auto;
        background-color: rgb(116, 4, 4);
        padding-bottom: 18px;
    }
    .row>.h2{
        width: 95%;
    }
}
@media(max-width:553px){
    .card {
        width: 100%;
        float: left;
        margin: 5px;
    }
    .form-contro{
        position: relative;
        width: 100%;

    }
    .mercadoria{
        width: auto;
        font-size: 40px;
    }
    .video{
        height: auto;
        background-color: white;
    }
    .row>.h2{
        width: 100%;
    }
}
@media(max-width:485px){
    .card {
        width: 100%;
        float: left;
        margin: 5px;
    }
    .mercadoria{
        width: auto;
        font-size: 40px;
    }
    .video{
        height: auto;
        background-color: white;
    }
    .row>.h2{
        width: 100%;
    }
}
@media( max-width:425px){
    .card {
        width: 100%;
        float: left;
        margin: 5px;
    }
    .mercadoria{
        width: auto;
        font-size: 30px;
    }
    .video{
        height: auto;
        background-color: white;
    }
    .row>.h2{
        width: 100%;
    }
}

@media(max-width:320px){
    .card{
        width: 100%;
    }
    .mercadoria{
        width: auto;
        font-size: 30px;
    }

    .row>.h2{
        width: 100%;
        font-size: 20px;
    }
        
}



